<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.CategoryDao">
	<resultMap type="category" id="categoryMap">
		<id property="id" column="aid"/>
		<result property="name" column="aname"/>
		<result property="parentId" column="aparentid"/>
		<result property="levels" column="alevels"/>
		<association property="parentCategory" javaType="category">
			<id property="id" column="bid"/>
			<result property="name" column="bname"/>
			<result property="parentId" column="bparentid"/>
			<result property="levels" column="blevels"/>
		</association>
	</resultMap>
	<select id="selectAll" resultMap="categoryMap">
		select a.id aid,a.name aname,a.parent_id aparentid,a.levels alevels,
        b.id bid,b.name bname,b.parent_id bparentid,b.levels blevels from d_category a left join 
		d_category b on a.parent_id=b.id
	</select>
	<insert id="addCategory" parameterType="category">
		insert into d_category values (#{id},#{name},#{parentId,jdbcType=VARCHAR},#{levels})
	</insert>
	<select id="selectAllFirstCategories" resultMap="categoryMap">
		select a.id aid,a.name aname,a.parent_id aparentid,a.levels alevels
 		from d_category a where levels='1'
	</select>
	
	<select id="selectAllParentId" resultType="String">
		select parent_id from d_category where levels !='1'
	</select>
	
	<delete id="deleteCategory">
		delete from d_category where id=#{id}
	</delete>
	<select id="selectAllScendCategories" resultMap="categoryMap">
		select a.id aid,a.name aname,a.parent_id aparentid,a.levels alevels
 		from d_category a where levels='2'
	</select>
	
	<resultMap type="category" id="categoriesMap">
		<id property="id" column="aid"/>
		<result property="name" column="aname"/>
		<result property="parentId" column="aparentid"/>
		<result property="levels" column="alevels"/>
		<collection property="categories" ofType="category">
			<id property="id" column="bid"/>
			<result property="name" column="bname"/>
			<result property="parentId" column="bparentid"/>
			<result property="levels" column="blevels"/>
		</collection>
	</resultMap>
	
	<select id="selectAllOnfront" resultMap="categoriesMap">
		select a.id aid,a.name aname,a.parent_id aparentid,a.levels alevels,
        b.id bid,b.name bname,b.parent_id bparentid,b.levels blevels from d_category a inner join 
		d_category b on a.id=b.parent_id
	</select>
	<select id="selectById" resultMap="categoriesMap">
		select a.id aid,a.name aname,a.parent_id aparentid,a.levels alevels,
        b.id bid,b.name bname,b.parent_id bparentid,b.levels blevels from d_category a inner join 
		d_category b on a.id=b.parent_id where a.id=#{id}
	</select>

</mapper>